/* followers.css */

.followers-container {
  
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  background-color: #141414;
  flex-wrap: wrap;
}

.follower-banner {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.2rem 2rem;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  cursor: pointer;
  min-width: 220px;
}

.follower-banner:hover {
  transform: translateY(-5px);
}

.icon-image {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.text {
  display: flex;
  flex-direction: column;
}

.platform {
  font-weight: 600;
  font-size: 1.2rem;
}
.platform:hover {
  color: #4f46e5;
}
.count {
  color: white;
  font-size: 1rem;
}
